.cart-container{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.cart-item{
    padding: 10px;
    max-height: 30%;
    max-width: 50%;
    border-radius: 1px ;
    border: 1px solid black;

}

.name{

}
.name-div{
    padding-top: 10px;
    padding-left: 10px;
}
img{
    height: 200px;
    max-width: 40%;

}

.denied{
    color: red ;
    text-align: center;
    margin-top:5%;
}

.total{
    width: 33%;
    position:relative;
    margin-left: 60%;
    margin-right: 10%;
    padding-right: 10px;
    padding-top: 10px;
}

.empty-cart{
    text-align: center;
}
