{% extends 'shared/base.html' %}
{% load static %}
{% block product_styles %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}"> {% endblock %}
{% block content %}
    <form metho="get">
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="new-item ">
            <a href="{% url 'create' %}" class="btn btn-primary add">Add new product</a>
        </div>
</form>
        <div class="sort-by">
            <form method="get" action="{% url 'index' %}">
                {{ sort_form }}
                <button>Filter</button>
            </form>
        </div>

{% include 'partials/products.html' %}

{% endblock %}