{% extends 'shared/base.html' %}
{% load static %}
{% block product_styles %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block content %}
    <form method="get">
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="new-item ">
            <a href="{% url 'create' %}" class="btn btn-primary add">Add new product</a>
        </div>
</form>
        <div class="sort-by">
            <form method="get" action="{% url 'index' %}">
                <input type="hidden" name="page" value="{{ page_obj.number }}">
                {{ sort_form }}
                <button>Filter</button>
            </form>
        </div>
    <div class="container">

{% for product in page_obj %}
{% include 'partials/products.html' %}
{% endfor %}

    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if order %}&order={{ order }}{% endif %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&order={{ order }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if order %}&order={{ order }}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&order={{ order }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}