<div class="container">
    {% for product in products %}

            <div class="card item" style="width: 30%;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <h6 class="card-title">{{ product.price }}lv</h6>
                    <p class="card-text">{{ product.description }}.</p>

            {% include 'partials/add_to_cart.html' %}
            </div>
            {% if product.owner_id == user.id %}
                <form method="get" action="{% url 'delete item' product.pk %}">

                    <button class="btn btn-danger div-item delete-btn" name="delete" value="{{ product.pk }}">Delete
                        product
                    </button>

                </form>
            {% endif %}


        </div>
    {% endfor %}
</div>